body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.header {
    background-color: #14181D;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #14181D;
    color: white;
}

.logo {
    transition: color 0.3s;
    font-weight: bold;
    color: #fff;
    font-family: "Katibeh", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    margin-top: -10px;
    text-decoration: none;
}
.logo:hover{
    color: #5aa07e;
}
.nav-links {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #14181D;
    width: 100%;
    padding: 10px 0;
    z-index: 1;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #5aa07e;
}

.user-info, .login-option {
    display: flex;
    align-items: center;
    gap: 10px;
}

#user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#user-name {
    font-weight: bold;
    color: #5aa07e;
}

#logout-button, #login-button {
    padding: 5px 10px;
    background-color: #363131;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#logout-button:hover, #login-button:hover {
    background-color: #5aa07e;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: all 0.3s;
}

.nav-links.active {
    display: flex;
}

@media (min-width: 769px) {
    .nav-links {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        padding: 0;
    }

    .nav-links a {
        padding: 0;
    }

    .hamburger-menu {
        display: none;
    }
}

.pt1 {
    background-image: url('/assets/pexels-cedric-fauntleroy-4266935.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit: cover;
    height: 780px;
}

iframe {
    width: 100%;
    height: 500px;
    border: 0;
}

.cadastro-box {
    background-color:#14181D;
    padding: 30px;
    border-radius: 5px;
    width: 90%;
    max-height: calc(100vh -120px); 
    overflow-y: auto;
    scrollbar-width: none;
    margin-top: 5px;
}
.cadastro-box h2, p{
    margin-bottom: 20px;
    margin-top: 10px;
    color: white;
}

.rodape {
    background-color: #14181D;
    color: white;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;

}

.rodape a {
    text-decoration: none;
    color: white;
}

.rodape p {
    margin-bottom: 5px;
}

.rodape-div {
    display: flex;
    flex-wrap: wrap;

    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}

.rodape-div-1,
.rodape-div-2,
.rodape-div-3,
.rodape-div-4,
.rodape-div-5 {
    display: flex;
    width: calc(100% / 5 - 20px);
    padding: 10px;
}

.rodape span {
    font-size: 20px;
    color: white;
}

.rodape-direitos {

    background-color: rgba(0, 0, 0, 0.363);
    padding: 10px;
    margin: 0px;
    text-align: center;
}

