body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/assets/pexels-cedric-fauntleroy-4266935.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit: cover;
    height: 652px;
}
.voltar{
    background-image: url(/assets/seta.png);
    background-size: cover;
    background-color: transparent;
    transition: background-color 0.3s ease;
    border-radius: 50px;
    cursor: pointer;
    height: 40px;
    width: 40px;
}
.voltar:hover{
    background-color: #f2f2f234;
}

.login-box {
    background-color:#14181D;
    padding: 30px;
    border-radius: 5px;
    width: 440px;

}

.login-box h2 {
    margin-bottom: 20px;
    margin-top: 10px;
    color: white;
    margin-left: 130px;
}

.login-box .input-group {
    margin-bottom: 15px;
}

.login-box .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #5aa07e;
    font-size: 12px;
    font-weight: bold;
}

.login-box .input-group input {
    width: 400px;
    padding: 15px 20px;
    border: 1px solid #363131;
    border-radius: 3px;
    background-color: #1e1f22;
    color: white;
}

.forgot-password {
    display: block;
    margin-bottom: 20px;
    color: #5aa07e;
    text-decoration: none;

    width: 150px;
}

.login-button {
    background-color: #167145;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 3px;
    width: 441px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 5px;
}

.login-button:hover {
    background-color: #115434;
}

.register-link {
    margin-top: 20px;
    text-align: left;
    color: #d3d3d3;
    font-size: 12px;
}

.register-link a {
    color: #167145;
    text-decoration: none;
}

.about-section {
    padding: 20px;
    background-color: #2c2c2c;
}

.about-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.about-content {
    display: flex;
    justify-content: space-around;
}

.about-column {
    background-color: #1c1c1c;
    width: 30%;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
}
